{{/* card_home.html */}}

{{ .Scratch.Set "tags_list" "" }}
{{ range first 10 .Params.tags }}
    {{ $tagClass := . | urlize | printf "js-iso-%s" }}
    {{ $.Scratch.Add "tags_list" (print " " $tagClass) }}
{{ end }}
<div class="col{{ $.Scratch.Get "tags_list" }}">
    <div class="card-garden p-4 rounded-3 position-relative">
        <!-- Card Content -->
        <h4 class="mb-3 text-center">{{ .Title }}</h4>
        {{ with .Summary }}
        <p class="text-center fs-6 fst-italic serif">{{ . }}</p>
        {{ end }}
        <p class="card-date text-center mb-2">
            {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
            {{ with .Date }}
                {{ .Format $dateFormat }}
            {{ end }}
        </p>
        <hr class="dropdown-divider">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                {{ partial "status.html" . }}
            </div>
            <div class="text-end">
                {{ with .Params.tags }}
                {{ range . }}
                <a href="/tags/{{ urlize . }}" class="badge">{{ . }}</a>
                {{ end }}
                {{ end }}
            </div>
        </div>
        <a href="{{ .Permalink }}" class="stretched-link"></a>
    </div>
</div>
{{ .Scratch.Delete "tags_list" }}
